name: prek

on:
  schedule:
    - cron: "3 15 * * FRI"
  workflow_dispatch:
  pull_request:

jobs:
  pre-commit:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: j178/prek-action@v1

      - run: prek autoupdate
        if: ${{ github.event_name == 'schedule' }}
      - name: Create Pull Request
        if: ${{ github.event_name == 'schedule' }}
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ${{ github.event.repository.default_branch }}
          branch: update/prek-autoupdate
          title: "build(deps): bump prek autoupdate"
          commit-message: "build(deps): bump prek autoupdate"
          body: |
            Update versions of tools in prek
            configs to latest version
          add-paths: |
            .pre-commit-config.yaml
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
